@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.eot?j9k2gh");
  src: url("../fonts/icons.eot?j9k2gh#iefix") format("embedded-opentype"), url("../fonts/icons.ttf?j9k2gh") format("truetype"), url("../fonts/icons.woff?j9k2gh") format("woff"), url("../fonts/icons.svg?j9k2gh#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before,
[class^=_icon-]::after,
[class*=" _icon-"]::after {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-logo:before {
  content: "\e900";
}

._icon-logoItem:before {
  content: "\e901";
}

._icon-star:after {
  content: "\e902";
}

._icon-bloomberg:before {
  content: "\e903";
}

._icon-cnbc:before {
  content: "\e904";
}

._icon-investopedia:before {
  content: "\e905";
}

._icon-nerdwallet:before {
  content: "\e906";
}

._icon-reuters:before {
  content: "\e907";
}

._icon-times:before {
  content: "\e908";
}

._icon-wsj:before {
  content: "\e909";
}

/*Reset Styles*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a {
  color: #000;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body {
  font-family: "Roboto", sans-serif;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.wrapper {
  color: #230b59;
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(247, 233, 226, 0)), color-stop(25%, rgb(247, 231, 223)), color-stop(50%, rgb(247, 235, 229)), color-stop(75%, rgb(220, 223, 240)), to(rgb(214, 219, 240)));
  background: -o-linear-gradient(top, rgba(247, 233, 226, 0) 0%, rgb(247, 231, 223) 25%, rgb(247, 235, 229) 50%, rgb(220, 223, 240) 75%, rgb(214, 219, 240) 100%);
  background: linear-gradient(180deg, rgba(247, 233, 226, 0) 0%, rgb(247, 231, 223) 25%, rgb(247, 235, 229) 50%, rgb(220, 223, 240) 75%, rgb(214, 219, 240) 100%);
}

section {
  z-index: 0;
  position: relative;
  padding: 4.21875rem 0;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

a {
  color: #230b59;
}

.footer__link,
.menu__list li {
  position: relative;
}

.footer__link::after,
.menu__list li::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.09375rem;
  background-color: #4840bb;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__link:hover::after,
.menu__list li:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

#scroll-btn {
  opacity: 0;
  pointer-events: none;
  width: 3.125rem;
  height: 3.125rem;
  background-color: #ffffff;
  position: fixed;
  bottom: 7.5%;
  right: 7.5%;
  border: 0.125rem solid #4840bb;
  border-radius: 50%;
  -webkit-transition: all 0.5s, border 0.3s, color 0.3s;
  -o-transition: all 0.5s, border 0.3s, color 0.3s;
  transition: all 0.5s, border 0.3s, color 0.3s;
}

#scroll-btn span {
  margin-top: 0.75rem;
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  border: solid #230b59;
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 0.1875rem;
  border-bottom-width: 0.1875rem;
  padding: 0.1875rem;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

#scroll-btn.show {
  opacity: 0.8;
  pointer-events: all;
  -webkit-transition: all 1s, border 0.3s, color 0.3s;
  -o-transition: all 1s, border 0.3s, color 0.3s;
  transition: all 1s, border 0.3s, color 0.3s;
}

#scroll-btn.show:hover {
  border-color: #ffffff;
}

#scroll-btn.show:hover span {
  border-color: #4840bb;
}

[class*=__container] {
  max-width: calc(80rem + 8.125rem);
  margin: 0 auto;
  padding-left: calc(1.875rem + 35 * ((100vw - 320px) / 1120));
  padding-right: calc(1.875rem + 35 * ((100vw - 320px) / 1120));
}

[class*=__container-xl] {
  max-width: 84em;
  margin: 0 auto;
  padding: 0px 15px;
}

h2 {
  font-size: calc(2.5rem + 16 * ((100vw - 320px) / 1120));
}

h3 {
  font-size: calc(2.125rem + 16 * ((100vw - 320px) / 1120));
}

h4 {
  font-size: calc(1.75rem + 6 * ((100vw - 320px) / 1120));
}

h5 {
  font-size: calc(1.0625rem + -2 * ((100vw - 320px) / 1120));
}

p {
  font-size: 1rem;
  line-height: 1.5em;
}

.page > section:nth-child(1) {
  padding-top: 6rem;
}

.btn,
.menu-btn__login,
.btn__more,
.btn__get {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  font-weight: 700;
  font-size: 1rem;
  padding-top: 0.71875rem;
  padding-bottom: 0.71875rem;
  padding-right: 1.125rem;
  padding-left: 1.125rem;
  border-radius: 0.375rem;
  line-height: 1.35em;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn__get {
  background-color: #4840bb;
  color: #ffffff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn__get::before {
  opacity: 0;
}

.btn__get:hover {
  -webkit-box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2509803922);
}

.btn__get:hover::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#4840bb), to(#ad6035));
  background: -o-linear-gradient(top, #4840bb, #ad6035);
  background: linear-gradient(180deg, #4840bb, #ad6035);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
}

.btn__more {
  min-width: auto;
}

.btn__more:hover {
  background-color: rgba(72, 64, 187, 0.2);
}

.header {
  color: #4840bb;
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  z-index: 5;
  width: 100%;
}

.header__container-xl {
  min-height: calc(4.375rem + 26 * ((100vw - 320px) / 1120));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  color: #230b59;
  font-size: 1.5625rem;
  z-index: 5;
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.666%;
          flex: 1 1 66.666%;
}

.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.menu__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: calc(1.5625rem + 23 * ((100vw - 320px) / 1120));
  font-size: 1rem;
  text-transform: capitalize;
  line-height: 1.8em;
}

.menu-btn__login {
  border: 1px solid #4840bb;
  color: #4840bb;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu-btn__login:hover {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(35, 11, 89, 0.9);
}

.hero {
  padding-bottom: 4.21875rem;
}

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  margin-bottom: 3.125rem;
}

.preview__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 59%;
          flex: 1 1 59%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: calc(100vh - 14.6875rem);
  overflow: hidden;
}

.preview__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.preview__offer {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41%;
          flex: 1 1 41%;
  padding: 0px 0.9375rem;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.875rem;
}

.offer__title {
  line-height: 1.1em;
  letter-spacing: 0.03798em;
}

.offer__title span {
  font-size: 2.9375rem;
  letter-spacing: 0.06875em;
}

.offer__text {
  line-height: 1.44em;
}

.info {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
      grid-template-areas: "nerdwallet investopedia info__subwrapper";
  -ms-grid-columns: 1.25fr 1.25rem 1.25fr 1.25rem 3.5fr;
  grid-template-columns: 1.25fr 1.25fr 3.5fr;
}

.info__subwrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: info__subwrapper;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0px 1.25rem;
}

.info-item__title {
  letter-spacing: 0.034375em;
  margin-bottom: 0.625rem;
  font-size: 1.625rem;
}

.info-item__title._icon-star::after {
  margin-left: 0.53125rem;
}

.info-item__text {
  font-size: 0.75rem;
}

.info-item.nerdwallet {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nerdwallet;
}

.info-item.investopedia {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: investopedia;
}

.investing__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: calc(1.875rem + 34 * ((100vw - 320px) / 1120));
}

.investing__content {
  max-width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5em;
}

.investing__title {
  line-height: 0.96em;
  letter-spacing: 0.0535714286em;
}

.investing__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: calc(0.3125rem + 27 * ((100vw - 320px) / 1120));
}

.investing__img {
  position: relative;
  z-index: 0;
}

.investing__img:before,
.investing__img:after {
  z-index: 1;
}

.investing__img:before {
  content: url(../img/notification1.png);
  position: absolute;
  top: 6%;
  left: 50%;
}

.investing__img:after {
  content: url(../img/notification2.png);
  position: absolute;
  top: 33%;
  left: 38.2%;
}

:root {
  --wf-fade-stop: 0%;
  --wf-fade-start: 5%;
}

.cash__container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.cash__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.no-webp .cash__img::before {
  background: url(../img/card.png) 0 0/contain no-repeat; }

.cash__img::before {
  content: " ";
  position: absolute;
  width: 354px;
  height: 471px;
  left: auto;
  right: calc(42% + 5 * ((100vw - 320px) / 1120));
  top: 70%;
  top: 24%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: rotate(-10deg) scale(1);
      -ms-transform: rotate(-10deg) scale(1);
          transform: rotate(-10deg) scale(1);
}

.cash__img::after {
  display: none;
}

.saving {
  background-color: #4840bb;
  padding-bottom: 0;
}

.saving__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10%;
  gap: 10%;
}

.saving__content {
  color: #ffffff;
  max-width: 35%;
  max-width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5em;
  padding-bottom: 1rem;
}

.saving__img {
  min-width: 55%;
}

.saving__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

.testimonial {
  padding: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.testimonial__wrapper {
  height: 35.1875rem;
  background: #230b59;
  position: relative;
  margin-bottom: 10%;
}

.testimonial__slider {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  overflow: visible;
  bottom: -23%;
  bottom: -23%;
  width: calc(20rem + 990 * ((100vw - 320px) / 1120));
  margin: 0 auto;
  padding: 0px 0.9375rem;
}

.testimonial__slider .swiper-pagination {
  bottom: 0.875rem;
}

.testimonial__slider .swiper-pagination-bullet {
  width: 0.6875rem;
  height: 0.6875rem;
  line-height: 1em;
  font-size: 0.6875rem;
  background-color: #ffffff;
}

.testimonial__slider .swiper-scrollbar {
  z-index: 1;
  width: 90%;
  left: 50%;
  bottom: 0.25rem;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0.375rem;
}

.testimonial__slider .swiper-scrollbar-drag {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 0.375rem;
}

.testimonial__cards {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  border-radius: 0.375rem;
  padding: 2rem 1.5rem;
  background-color: #ffffff;
}

.testimonial__card:not(:last-child) {
  margin-right: 1rem;
}

.testimonial__contnet {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.testimonial__sub-title,
.testimonial__author {
  text-transform: uppercase;
  line-height: 1.4em;
  letter-spacing: 0.0466666667em;
  margin-bottom: 2rem;
}

.testimonial__title {
  font-size: calc(1.375rem + 20 * ((100vw - 320px) / 1120));
  line-height: 1em;
  letter-spacing: 0.0238095238em;
}

.testimonial__title span {
  font-weight: 700;
}

.testimonial__author {
  text-transform: none;
  margin-bottom: 0;
}

.trust {
  padding: 0 0 9.375rem 0;
}

.trust__container > :not(:last-child) {
  margin-bottom: 6rem;
}

.trust__body {
  text-align: center;
}

.trust__body > :not(:last-child) {
  margin-bottom: 3.5625rem;
}

.trust__img img {
  max-width: 100%;
}

.trust__content > :not(:last-child) {
  margin-bottom: 3rem;
}

.trust__btn {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 0 auto;
}

.trust__title {
  margin: 0 auto;
  max-width: 47.9375rem;
}

.trust__title span {
  font-weight: 700;
}

.featured {
  text-align: center;
}

.featured > :not(:last-child) {
  margin-bottom: 2.5rem;
}

.featured__sub-title {
  text-transform: uppercase;
  line-height: 1.18em;
  letter-spacing: 0.0875em;
}

.featured__logos {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: calc(2.1875rem + -15 * ((100vw - 320px) / 1120));
}

.featured__logos > :not(:last-child) {
  margin-right: 3.75rem;
}

.featured__logo {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.featured__logo._icon-wsj {
  font-size: calc(2.1875rem + -5 * ((100vw - 320px) / 1120));
}

.featured__logo._icon-bloomberg {
  font-size: calc(2.3125rem + -4 * ((100vw - 320px) / 1120));
}

.featured__logo._icon-times {
  font-size: calc(2.1875rem + 8 * ((100vw - 320px) / 1120));
}

.featured__logo._icon-reuters {
  font-size: calc(3.125rem + 10 * ((100vw - 320px) / 1120));
}

.featured__logo._icon-cnbc {
  font-size: calc(3.125rem + -3 * ((100vw - 320px) / 1120));
}

.footer {
  background-color: #18172b;
  color: #ffffff;
}

.footer a {
  color: #ffffff;
}

.footer__content {
  padding-top: 4.0625rem;
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__content > :not(:last-child) {
  margin-right: 1.25rem;
}

.footer__logo {
  font-size: 1.625rem;
  color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-42.34%, #f7e9e2), to(#dadef1));
  background: -o-linear-gradient(top, #f7e9e2 -42.34%, #dadef1 100%);
  background: linear-gradient(180deg, #f7e9e2 -42.34%, #dadef1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  padding-right: 0.5rem;
}

.footer__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 2rem 3.5rem;
}

.footer__link {
  font-size: 1rem;
  line-height: 1.8em;
}

.footer__link::after {
  background-color: #ffffff;
}

@media (min-width: 62em) {
  .investing__content {
    max-width: 33.333%;
  }

  .investing__img {
    width: 598px;
  }

  .cash__img {
    width: 784px;
  }

  .testimonial_cards {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .testimonial__card {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100% !important;
  }
}

@media (min-width: 90em) {
  #scroll-btn {
    width: calc(0.625rem + 40 * ((100vw - 320px) / 1120));
  }

  #scroll-btn {
    height: calc(0.625rem + 40 * ((100vw - 320px) / 1120));
  }

  #scroll-btn span {
    margin-top: calc(0.375rem + 6 * ((100vw - 320px) / 1120));
  }

  #scroll-btn span {
    width: calc(0.3125rem + 15 * ((100vw - 320px) / 1120));
  }

  #scroll-btn span {
    height: calc(0.3125rem + 15 * ((100vw - 320px) / 1120));
  }

  #scroll-btn span {
    border-right-width: calc(0.0625rem + 2 * ((100vw - 320px) / 1120));
  }

  #scroll-btn span {
    border-bottom-width: calc(0.0625rem + 2 * ((100vw - 320px) / 1120));
  }

  p {
    font-size: calc(0.75rem + 4 * ((100vw - 320px) / 1120));
  }

  .page > section:nth-child(1) {
    padding-top: calc(4.375rem + 26 * ((100vw - 320px) / 1120));
  }

  .btn,
  .menu-btn__login,
  .btn__more,
  .btn__get {
    font-size: calc(0.75rem + 4 * ((100vw - 320px) / 1120));
  }

  .btn,
  .menu-btn__login,
  .btn__more,
  .btn__get {
    padding-top: calc(0.5390625rem + 2.875 * ((100vw - 320px) / 1120));
  }

  .btn,
  .menu-btn__login,
  .btn__more,
  .btn__get {
    padding-bottom: calc(0.5390625rem + 2.875 * ((100vw - 320px) / 1120));
  }

  .btn,
  .menu-btn__login,
  .btn__more,
  .btn__get {
    padding-right: calc(0.84375rem + 4.5 * ((100vw - 320px) / 1120));
  }

  .btn,
  .menu-btn__login,
  .btn__more,
  .btn__get {
    padding-left: calc(0.84375rem + 4.5 * ((100vw - 320px) / 1120));
  }

  .header__logo {
    font-size: calc(1.171875rem + 6.25 * ((100vw - 320px) / 1120));
  }

  .menu__list {
    font-size: calc(0.75rem + 4 * ((100vw - 320px) / 1120));
  }

  .offer__title span {
    font-size: calc(2.203125rem + 11.75 * ((100vw - 320px) / 1120));
  }

  .info-item__title {
    font-size: calc(1.21875rem + 6.5 * ((100vw - 320px) / 1120));
  }

  .info-item__text {
    font-size: calc(0.5625rem + 3 * ((100vw - 320px) / 1120));
  }

  .footer__content {
    padding-top: calc(3.046875rem + 16.25 * ((100vw - 320px) / 1120));
  }

  .footer__content {
    padding-bottom: calc(1.5rem + 8 * ((100vw - 320px) / 1120));
  }

  .footer__logo {
    font-size: calc(1.21875rem + 6.5 * ((100vw - 320px) / 1120));
  }

  .footer__link {
    font-size: calc(0.75rem + 4 * ((100vw - 320px) / 1120));
  }
}

@media (min-width: 100em) {
  [class*=__container] {
    max-width: 80%;
  }

  [class*=__container-xl] {
    max-width: 90%;
  }
}

@media (max-width: 80em) {
  .cash__img::before {
    width: calc(177px + 177 * ((100vw - 320px) / 960));
  }

  .cash__img::before {
    height: calc(235px + 236 * ((100vw - 320px) / 960));
  }

  .cash__img::before {
    top: calc(24% + 46 * ((100vw - 320px) / 960));
  }

  .saving__container {
    gap: calc(5% + 5 * ((100vw - 320px) / 960));
  }

  .saving__content {
    max-width: calc(100% + -65 * ((100vw - 320px) / 960));
  }

  .testimonial__wrapper {
    height: calc(23.75rem + 183 * ((100vw - 320px) / 960));
  }

  .testimonial__slider {
    bottom: calc(-30% + 7 * ((100vw - 320px) / 960));
  }

  .featured__logos > :not(:last-child) {
    margin-right: calc(1.25rem + 40 * ((100vw - 320px) / 960));
  }

  .testimonial__title {
    font-size: 32px;
  }
}

@media (max-width: 61.9375em) {
  .header__container-xl {
    gap: 5%;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .info {
    -ms-grid-columns: 1fr 25px 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 25px auto 25px auto;
    grid-template-rows: repeat(3, auto);
    gap: 25px;
        grid-template-areas: "nerdwallet nerdwallet" "investopedia investopedia" "info__subwrapper info__subwrapper";
  }

  .info > * {
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .info__subwrapper {
    --columns: 2;
    --gap: 1.5625rem;
    --gap-columns: calc(var(--columns) - 1);
    --gap-count: calc(var(--gap) / var(--columns) * var(--gap-columns));
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: var(--gap);
    margin-top: 0.625rem;
    width: 100%;
  }

  .info__subwrapper > * {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(100% / var(--columns) - var(--gap-count));
            flex: 1 1 calc(100% / var(--columns) - var(--gap-count));
  }

  .info-item {
    text-align: center;
  }

  .investing__img::before {
    top: 48%;
    left: 18%;
  }

  .investing__img::after {
    top: 72%;
    left: -18%;
  }

  .cash__img {
    z-index: 2;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .cash__img img {
    width: 95%;
  }

  .cash__img::before {
    z-index: -1;
    left: auto;
    top: 35%;
    right: -30%;
    -webkit-filter: blur(1px);
            filter: blur(1px);
    opacity: 0.75;
  }

  .cash__content {
    max-width: 50%;
    z-index: 3;
    position: relative;
  }

  .cash__bg {
    position: absolute;
    background: rgb(214, 219, 240);
    width: 100%;
    height: 100%;
    z-index: -1;
    -webkit-filter: blur(100px);
            filter: blur(100px);
    left: -50px;
  }

  .testimonial__slider {
    max-width: 50rem;
    overflow: hidden;
  }

  .testimonial__card {
    position: relative;
    padding-bottom: 45px;
  }

  .testimonial__card::after {
    content: "";
    height: 35px;
    width: 100%;
    position: absolute;
    border-radius: 0px 0px 6px 6px;
    left: 0;
    bottom: 0;
    background-color: rgba(72, 64, 187, 0.85);
  }

  .featured__logos {
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }

  .featured__logos > :not(:last-child) {
    margin-right: 0;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__content > :not(:last-child) {
    margin-bottom: 50px;
    margin-right: auto;
  }

  .info__subwrapper {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .info-item.nerdwallet {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }

  .info-item.investopedia {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}

@media (max-width: 61.9375em) and (max-width: 80em) {
  .testimonial__slider {
    max-width: calc(20rem + 480 * ((100vw - 320px) / 960));
  }
}

@media (max-width: 55.625em) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 44px;
    height: 33px;
    margin-left: auto;
    cursor: pointer;
  }

  .menu__icon._active::before,
  .menu__icon._active::after,
  .menu__icon._active span {
    background-color: #ffffff;
  }

  .menu__icon::before,
  .menu__icon::after,
  .menu__icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #4840bb;
    border-radius: 6px;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
    width: 100%;
  }

  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .menu__icon._active:before {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0px, -50%);
        -ms-transform: rotate(45deg) translate(0px, -50%);
            transform: rotate(45deg) translate(0px, -50%);
  }

  .menu__icon._active:after {
    bottom: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, 50%);
        -ms-transform: rotate(-45deg) translate(0px, 50%);
            transform: rotate(-45deg) translate(0px, 50%);
  }

  .menu__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0 30px 0;
    position: fixed;
    right: -100%;
    top: 0;
    width: calc(15rem + 160 * ((100vw - 320px) / 1120));
    height: 100%;
    background-color: rgba(35, 11, 89, 0.85);
    z-index: 1;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    overflow: auto;
  }

  .menu__body._active {
    right: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 0px 20px;
    gap: 0;
  }

  .menu__list > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 0px 0px;
    padding: 22px 0px;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }

  .menu__list > li a {
    color: #ffffff;
  }

  .menu__list > li:last-child {
    margin-bottom: 0;
  }

  .menu-btn__login {
    color: #ffffff;
    border: 2px solid #4840bb;
  }
}

@media (max-width: 47.9375em) {
  .header {
    background-color: rgba(255, 255, 255, 0.85);
  }

  .offer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .offer__text {
    display: inline;
  }

  .hero__container-xl {
    padding: 0;
  }

  .hero__preview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .hero__info {
    padding: 0px 15px;
  }

  .investing__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .investing__content {
    max-width: 33.333%;
  }

  .investing__img img {
    margin-left: -2.5%;
    width: 100%;
    height: 570px;
    -o-object-fit: none;
       object-fit: none;
    -o-object-position: top left;
       object-position: top left;
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(#fff));
    -webkit-mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) var(--wf-fade-stop, 60%), #fff var(--wf-fade-start, 75%));
  }

  .investing__img::before,
  .investing__img::after {
    right: auto;
  }

  .investing__img::before {
    left: 350%;
    top: -50%;
  }

  .investing__img::after {
    left: 230%;
    top: 10%;
  }

  .cash__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cash__img {
    width: 100%;
    display: block;
  }

  .cash__img img {
    -o-object-position: top right;
       object-position: top right;
    max-height: 70vh;
  }

  .cash__img::before {
    max-height: 60vh;
    -webkit-filter: blur(0.1px);
            filter: blur(0.1px);
    opacity: 0.95;
    left: 5% !important;
    top: 12% !important;
  }

  .cash__content {
    text-align: right;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .saving__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6vh;
  }

  .footer__content {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .footer__menu {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 47.9375em) and (max-width: 80em) {
  .investing__content {
    max-width: calc(100% + -66.667 * ((100vw - 320px) / 960));
  }

  .investing__img img {
    width: calc(105% + -5 * ((100vw - 320px) / 960));
  }

  .investing__img img {
    height: calc(400px + 170 * ((100vw - 320px) / 960));
  }

  .investing__img::before {
    left: calc(7% + 343 * ((100vw - 320px) / 960));
  }

  .investing__img::before {
    top: calc(50% + -100 * ((100vw - 320px) / 960));
  }

  .investing__img::after {
    left: calc(7% + 223 * ((100vw - 320px) / 960));
  }

  .investing__img::after {
    top: calc(77% + -67 * ((100vw - 320px) / 960));
  }
}

@media (max-width: 35.9375em) {
  .menu__icon._active::before,
  .menu__icon._active::after,
  .menu__icon._active span {
    background-color: #230b59;
  }

  .menu__body {
    background-color: rgba(35, 11, 89, 0.95);
  }

  .menu__body._active::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: calc(4.375rem + 26 * ((100vw - 320px) / 1120));
    background-color: #ffffff;
    z-index: 2;
  }

  .menu__list {
    margin-top: calc(4.375rem + 26 * ((100vw - 320px) / 1120));
  }

  .investing__content {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .investing__btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .cash__img {
    width: 100%;
  }

  .testimonial__wrapper {
    margin-bottom: 0rem;
  }

  .trust__img img {
    -o-object-fit: none;
       object-fit: none;
  }

  .footer__menu {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 35.9375em) and (max-width: 80em) {
  .cash__img {
    width: calc(100% + 0 * ((100vw - 320px) / 960));
  }

  .testimonial__wrapper {
    margin-bottom: calc(12.5rem + -200 * ((100vw - 320px) / 960));
  }
}

@media (max-width: 26.25em) {
  .cash__img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.webp .cash__img::before { background: url(../img/card.webp) 0 0/contain no-repeat; }