//Adaptiv value
$maxWidth: 1440;
$maxWidthContainer: 1344;
@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type == 1 {
		//If smaller then Container
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type == 2 {
		//If bigger then Container
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else if $type == 3 {
		//Procent
		#{$property}: calc(#{$minSize + "%"} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	} @else if $type == 4 {
		//If smaller then Container Procent
		#{$property}: $startSize + "%";
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + "%"} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type == 5 {
		//If smaller then Container Procent
		#{$property}: $startSize;
		@media (max-width: #{$maxWidthContainer}) {
			#{$property}: calc(#{$minSize} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}) + "%");
		}
	} @else {
		//Always
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}