.footer {
	background-color: #18172b;
	color: $mainColor;
	a {
		color: $mainColor;
	}
	&__container-xl {
	}
	&__content {
		padding: 65px 0px 32px 0px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		> :not(:last-child) {
			margin-right: 20px;
		}
	}
	&__logo {
		font-size: 26px;
		color: transparent;
		background: linear-gradient(180deg, #f7e9e2 -42.34%, #dadef1 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: transparent;
		padding-right: 8px;
	}

	&__menu {
		display: grid;
		grid-auto-columns: 1fr;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: 1fr;
		grid-template-rows: auto;
		gap: 32px 56px;
	}

	&__list {
	}

	&__link {
		font-size: 16px;
		line-height: 1.8em;
		&:hover {
			text-decoration: underline;
		}
	}
}
.logo__footer {
}
