.footer {
	background-color: #18172b;
	color: $mainColor;
	a {
		color: $mainColor;
	}
	&__container-xl {
	}
	&__content {
		@include adaptiv-value("padding-top", 65, 48.75, 2);
		@include adaptiv-value("padding-bottom", 32, 24, 2);
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		> :not(:last-child) {
			margin-right: rem(20px);
		}
	}
	&__logo {
		@include adaptiv-value("font-size", 26, 19.5, 2);
		color: transparent;
		background: linear-gradient(180deg, #f7e9e2 -42.34%, #dadef1 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: transparent;
		padding-right: rem(8px);
	}

	&__menu {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
		gap: rem(32px) rem(56px);
	}

	&__list {
	}

	&__link {
		@include adaptiv-value("font-size", 16, 12, 2);
		line-height: 1.8em;
		@extend %link;
		&::after {
			background-color: $mainColor;
		}
	}
}
.logo__footer {
}
