$icomoon-font-family: "icons" !default;
$icomoon-font-path: "../fonts" !default;

$_icon-logo: "\e900";
$_icon-logoItem: "\e901";
$_icon-star: "\e902";
$_icon-bloomberg: "\e903";
$_icon-cnbc: "\e904";
$_icon-investopedia: "\e905";
$_icon-nerdwallet: "\e906";
$_icon-reuters: "\e907";
$_icon-times: "\e908";
$_icon-wsj: "\e909";
