//* === media query's
@media (min-width: em(992px)) {
	.investing {
		&__content {
			max-width: 33.333%;
		}
		&__img {
			width: 598px;
		}
	}
	.cash__img {
		width: 784px;
	}
	.testimonial_cards {
		transition: all 0.3s ease 0s;
		display: flex;
		justify-content: space-between;
	}
	.testimonial__card {
		flex: 1;
		height: 100% !important;
	}
}
@media (max-width: em(1280px)) {
	.testimonial__title {
		font-size: 32px;
	}
}
@media (max-width: em(991px)) {
	.header {
		&__container-xl {
			gap: 5%;
		}
		&__logo {
			flex: 0 1 auto;
		}
	}
	.info {
		justify-items: center;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, auto);
		gap: 25px;
		grid-template-areas:
			"nerdwallet nerdwallet"
			"investopedia investopedia"
			"info__subwrapper info__subwrapper";
		&__subwrapper {
			margin-top: 10px;
			grid-template-columns: repeat(2, auto);
			grid-template-rows: repeat(2, auto);
			width: 100%;
			gap: 25px;
			grid-template-areas:
				". ."
				". .";
		}
	}
	.info-item {
		text-align: center;
	}
	.investing {
		&__img {
			&::before {
				top: 48%;
				left: 18%;
			}
			&::after {
				top: 72%;
				left: -18%;
			}
		}
	}
	.cash {
		&__img {
			z-index: 2;
			justify-content: flex-start;
			img {
				width: 95%;
			}
			&::before {
				z-index: -1;
				left: auto;
				top: 35%;
				right: -30%;
				filter: blur(1px);
				opacity: 0.75;
			}
		}
		&__content {
			max-width: 50%;
			z-index: 3;
			position: relative;
		}
		&__text {
		}
		&__bg {
			position: absolute;
			background: rgba(214, 219, 240, 1);
			width: 100%;
			height: 100%;
			z-index: -1;
			filter: blur(100px);
			left: -50px;
		}
	}
	.testimonial__slider {
		@include adaptiv-value("max-width", 800, 320, 1);
		overflow: hidden;
	}
	.testimonial__card {
		position: relative;
		padding-bottom: 45px;
		&::after {
			content: "";
			height: 35px;
			width: 100%;
			position: absolute;
			border-radius: 0px 0px 6px 6px;
			left: 0;
			bottom: 0;
			background-color: rgba($color: $lightColor, $alpha: 0.85);
		}
	}
	.featured {
		&__logos {
			column-gap: 40px;
			> :not(:last-child) {
				margin-right: 0;
			}
		}
	}
	.footer__content {
		flex-direction: column;
		> :not(:last-child) {
			margin-bottom: 50px;
			margin-right: auto;
		}
	}
}
@media (max-width: em(890px)) {
	//* --------- Burger Active ------------ *//
	//* Styling a Burger -------
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 44px;
		height: 33px;
		margin-left: auto;
		cursor: pointer;
		&._active {
			&::before,
			&::after,
			span {
				background-color: $mainColor;
			}
		}
		&::before,
		&::after,
		span {
			left: 0;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background: $lightColor;
			border-radius: 6px;
		}
		&::before,
		&::after {
			content: "";
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: 50%;
			transform: scale(1) translate(0px, -50%);
			width: 100%;
		}
		&._active {
			span {
				transform: scale(0) translate(0px, -50%);
			}
			&:before {
				top: 50%;
				transform: rotate(45deg) translate(0px, -50%);
			}
			&:after {
				bottom: 50%;
				transform: rotate(-45deg) translate(0px, 50%);
			}
		}
	}

	//* -----------------
	//* Transform menu in open Burger-menu
	.menu__body {
		flex-direction: column;
		padding: 15px 0 30px 0;
		position: fixed;
		right: -100%;
		top: 0;
		@include adaptiv-value("width", 400, 240, 0);
		height: 100%;
		background-color: rgba($color: $accentColor, $alpha: 0.85);
		z-index: 1;
		transition: all 0.6s ease 0s;
		overflow: auto;
		//* Move menu bottom ---
		&._active {
			right: 0;
		}
		//* --------------------
	}
	//* -----------------------
	.menu__list {
		flex-direction: column;
		align-self: flex-start;
		padding: 0px 20px;
		gap: 0;
		> li {
			//* Aside postion for menu -------
			display: flex;
			flex-wrap: wrap;
			margin: 0px 0px 0px 0px;
			padding: 22px 0px;
			max-width: fit-content;
			a {
				color: $mainColor;
			}
			//* ------------------------------
		}
		> li:last-child {
			margin-bottom: 0;
		}
	}
	.menu-btn__login {
		color: $mainColor;
		border: 2px solid $lightColor;
	}
	//* Burger Menu END --------
}
@media (max-width: em(767px)) {
	//* Hero-section
	.header {
		background-color: rgba($color: $mainColor, $alpha: 0.85);
	}
	.offer {
		align-items: center;
		text-align: center;
		&__text {
			display: inline;
		}
	}
	.hero {
		&__container-xl {
			padding: 0;
		}
		&__preview {
			flex-direction: column;
		}
		&__info {
			padding: 0px 15px;
		}
	}
	.investing {
		&__container {
			flex-direction: column-reverse;
		}
		&__content {
			@include adaptiv-value("max-width", 33.333, 100, 4);
		}
		&__img {
			img {
				margin-left: -2.5%;
				@include adaptiv-value("width", 100, 105, 4);
				@include adaptiv-value("height", 370, 400, 0);
				object-fit: none;
				object-position: top left;
				-webkit-mask-image: linear-gradient(0deg, #0000 var(--wf-fade-stop, 60%), #fff var(--wf-fade-start, 75%));
			}
			&::before,
			&::after {
				right: auto;
			}
			&::before {
				@include adaptiv-value("left", 350, 7, 4);
				@include adaptiv-value("top", -50, 50, 4);
			}
			&::after {
				@include adaptiv-value("left", 230, 7, 4);
				@include adaptiv-value("top", 10, 77, 4);
			}
		}
	}
	.cash {
		&__container {
			flex-direction: column;
		}
		&__img {
			width: 100%;
			display: block;
			img {
				object-position: top right;
				max-height: 70vh;
			}
			&::before {
				max-height: 60vh;
				filter: blur(0.1px);
				opacity: 0.95;
				left: 5%;
				top: 7%;
			}
		}
		&__content {
			text-align: right;
			align-items: flex-end;
		}
	}
	.saving__container {
		flex-direction: column;
		gap: 6vh;
	}
	.footer {
		&__content {
			align-items: stretch;
		}
		&__menu {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
@media (max-width: em(575px)) {
	.menu__icon._active {
		&::before,
		&::after,
		span {
			background-color: $accentColor;
		}
	}
	.menu__body {
		background-color: rgba($color: $accentColor, $alpha: 0.95);
		&._active {
			//* Header plank -------
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				top: 0;
				left: 0;
				@include adaptiv-value("height", 96, 70, 0);
				background-color: $mainColor;
				z-index: 2;
			}
			//* --------------------
		}
	}
	.menu__list {
		@include adaptiv-value("margin-top", 96, 70, 0);
	}
	.investing__content {
		text-align: center;
		align-items: center;
	}
	.investing__btns {
		justify-content: center;
	}
	.cash__img {
		@include adaptiv-value("width", 100, 100, 4);
		img {
			object-fit: cover;
		}
	}
	.testimonial__wrapper {
		@include adaptiv-value("margin-bottom", 0, 150, 1);
	}
	.trust__img img {
		object-fit: none;
	}
	.footer__menu {
		grid-template-columns: repeat(2, 1fr);
	}
}
