@import "fontsPreload";

@import "fonts";
@import "reset";
@import "px2em";
@import "adaptiveValue";

.img-fluid {
	width: 100%;
	height: auto;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 1 auto;
}

[class*="__container"] {
	max-width: calc(none + 30px); // Enter the value
	margin: 0 auto;
	padding: 0px 15px;
}

.main__index {
}
