@import "fontsPreload";
@import "fonts";
@import "iconsfont";
@import "reset";
@import "px2em";
@import "adaptiveValue";

//* Variables
$mainColor: #ffffff;
$lightColor: #4840bb;
$accentColor: #230b59;
//*

body {
	font-family: "Roboto", sans-serif;
}

.img-fluid {
	width: 100%;
	height: auto;
}

.wrapper {
	color: $accentColor;
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 1 auto;
}

a {
	color: $accentColor;
}

[class*="__container"] {
	max-width: ($maxWidthContainer + px); // Enter the value
	margin: 0 auto;
	padding: 0px 15px;
}
[class*="__container-xl"] {
	max-width: 1280px; // Enter the value
	margin: 0 auto;
	padding: 0px 65px;
}

//* text
h2 {
	font-size: 56px;
}
h3 {
	font-size: 50px;
}
h4 {
	font-size: 34px;
}
h5 {
	font-size: 15px;
}
h6 {
	font-size: 12px;
}
p {
	font-size: 16px;
	line-height: 1.5em;
}
//*

.page {
	margin-top: 98px;
}

.btn {
	min-width: max-content;
	font-weight: 700;
	font-size: 16px;
	padding: 11.5px 18px;
	border-radius: 6px;
	line-height: 1.35em;
	text-align: center;
	display: flex;
	align-items: center;
	transition: all 0.3s ease 0s;
}
.btn__get {
	@extend .btn;
	background-color: $lightColor;
	color: $mainColor;
	&:hover {
		background-color: rgba($color: $accentColor, $alpha: 0.8);
	}
}
.btn__more {
	@extend .btn;
	&:hover {
		background-color: rgba($color: $lightColor, $alpha: 0.2);
	}
}
//* header---
.header {
	color: $lightColor;
	background-color: rgba($color: #ffffff, $alpha: 0.95);
	position: fixed;
	width: 100%;
	&__container {
		min-height: 96px;
		display: flex;
		align-items: center;
		padding-top: 30px;
		padding-bottom: 30px;
		justify-content: space-between;
	}

	&__logo {
		color: $accentColor;
		font-size: 25px;
	}

	&__nav {
	}

	&__btns {
		display: flex;
		gap: 12px;
	}
}
.logo {
}
.nav {
	&__list {
		display: flex;
		gap: 48px;
		li {
			font-size: 18px;
			line-height: 1.8em;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.header-btn {
	&__login {
		@extend .btn;
		border: 1px solid $lightColor;
		color: $lightColor;
		transition: all 0.3s ease 0s;
		&:hover {
			color: rgba($color: $mainColor, $alpha: 0.9);
			background-color: rgba($color: $accentColor, $alpha: 0.9);
		}
	}

	&__get {
	}
}
//* ---header

//* first-screen---
.hero {
	padding-bottom: 67.5px;
	&__container {
	}

	&__preview {
	}

	&__info {
	}
}
.preview {
	display: flex;
	align-items: center;
	gap: 48px;
	margin-bottom: 32px;
	&__img {
		flex: 1 1 59%;
		img {
			width: 100%;
			height: 100%;
		}
	}

	&__offer {
		flex: 1 1 41%;
	}
}
.offer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
	&__title {
		line-height: 1.1em;
		letter-spacing: em(1.899px, "em", 50px);
		span {
			font-size: 47px;
			letter-spacing: em(1.1px);
		}
	}

	&__texts {
	}
	&__text {
		line-height: 1.44em;
	}

	&__cta {
	}
}
.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.info-item {
	&__title {
		letter-spacing: em(0.55px);
		margin-bottom: 10px;
		font-size: 26px;
		&::after {
			margin-left: 8.5px;
		}
	}
	&__text {
		font-size: 14px;
	}
}
//* ---first-screen

//* investing section ===
.investing {
	padding: 67.5px 0px 45px 0px;
	&__container-xl {
		display: flex;
		gap: 64px;
	}

	&__content {
		flex: 1 0 33.333%;
	}

	&__title {
		font-size: 56px;
		line-height: 0.96em;
		letter-spacing: em(3px, "em", 56px);
		margin-bottom: 15px;
	}

	&__text {
		margin-bottom: 30px;
	}

	&__btns {
		display: flex;
		gap: 32px;
		> a {
			min-width: max-content;
		}
	}

	&__img {
		flex: 1 1 66.666%;
		position: relative;
		&:before {
			content: url(@img/notification1.png);
			position: absolute;
			top: 5%;
			left: 43%;
		}
		&:after {
			content: url(@img/notification2.png);
			position: absolute;
			top: 33.2%;
			left: 32%;
		}
	}
}

//* === investing section
