@import "fontsPreload";
@import "fonts";
@import "iconsfont";
@import "reset";
@import "px2em";
@import "adaptiveValue";

//* Variables
$mainColor: #ffffff;
$lightColor: #4840bb;
$accentColor: #230b59;
//*

body {
	font-family: "Roboto", sans-serif;
}

.img-fluid {
	width: 100%;
	height: auto;
}

.wrapper {
	color: $accentColor;
	overflow: hidden;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background: linear-gradient(
		180deg,
		rgba(247, 233, 226, 0) 0%,
		rgba(247, 231, 223, 1) 25%,
		rgba(247, 235, 229, 1) 50%,
		rgba(220, 223, 240, 1) 75%,
		rgba(214, 219, 240, 1) 100%
	);
}

section {
	z-index: 0;
	position: relative;
	padding: 45px 0;
}
main {
	flex: 1 1 auto;
}

a {
	color: $accentColor;
}

[class*="__container"] {
	max-width: ($maxWidthContainer + px); // Enter the value
	margin: 0 auto;
	@include adaptiv-value("padding-left", 65, 30, 0);
	@include adaptiv-value("padding-right", 65, 30, 0);
}
[class*="__container-xl"] {
	max-width: 1344px; // Enter the value
	margin: 0 auto;
	padding: 0px 15px;
}

//* text
h2 {
	@include adaptiv-value("font-size", 56, 46, 0);
}
h3 {
	@include adaptiv-value("font-size", 50, 40, 0);
}
h4 {
	font-size: 34px;
}
h5 {
	font-size: 15px;
}
h6 {
	font-size: 12px;
}
p {
	font-size: 16px;
	line-height: 1.5em;
}
//*

.page {
	margin-top: 98px;
}

.btn {
	min-width: max-content;
	font-weight: 700;
	font-size: 16px;
	padding: 11.5px 18px;
	border-radius: 6px;
	line-height: 1.35em;
	text-align: center;
	display: flex;
	align-items: center;
	transition: all 0.3s ease 0s;
}
.btn__get {
	@extend .btn;
	background-color: $lightColor;
	color: $mainColor;
	&:hover {
		background-color: rgba($color: $accentColor, $alpha: 0.8);
	}
}
.btn__more {
	@extend .btn;
	min-width: auto;
	&:hover {
		background-color: rgba($color: $lightColor, $alpha: 0.2);
	}
}
//* header---
.header {
	color: $lightColor;
	background-color: rgba($color: #ffffff, $alpha: 0.95);
	position: fixed;
	z-index: 5;
	width: 100%;
	&__container-xl {
		@include adaptiv-value("min-height", 96, 70, 0);
		display: flex;
		align-items: center;
		padding-top: 5px;
		padding-bottom: 5px;
		justify-content: space-between;
		gap: 20px;
	}

	&__logo {
		flex: 1 1 33.333%;
		color: $accentColor;
		font-size: 25px;
		z-index: 5;
	}

	&__menu {
		flex: 1 1 66.666%;
	}
}
.logo {
}
.menu {
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
	}
	&__btns {
		display: flex;
		gap: 12px;
	}
	&__list {
		display: flex;
		@include adaptiv-value("gap", 48, 25, 0);
		li {
			text-transform: capitalize;
			font-size: 18px;
			line-height: 1.8em;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__btns {
		display: flex;
		gap: 12px;
	}
}
.menu-btn {
	&__login {
		@extend .btn;
		border: 1px solid $lightColor;
		color: $lightColor;
		transition: all 0.3s ease 0s;
		&:hover {
			color: rgba($color: $mainColor, $alpha: 0.9);
			background-color: rgba($color: $accentColor, $alpha: 0.9);
		}
	}

	&__get {
	}
}
//* ---header

//* first-screen---
.hero {
	padding-bottom: 67.5px;
	&__container-xl {
	}

	&__preview {
	}

	&__info {
	}
}
.preview {
	display: flex;
	align-items: center;
	gap: 48px;
	margin-bottom: 50px;
	&__img {
		flex: 1 1 59%;
		img {
			width: 100%;
			height: 100%;
		}
	}

	&__offer {
		flex: 1 1 41%;
		padding: 0px 15px;
	}
}
.offer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
	&__title {
		line-height: 1.1em;
		letter-spacing: em(1.899px, "em", 50px);
		span {
			font-size: 47px;
			letter-spacing: em(1.1px);
		}
	}

	&__texts {
	}
	&__text {
		line-height: 1.44em;
	}

	&__cta {
	}
}
.info {
	display: grid;
	gap: 20px;
	grid-template-areas: "nerdwallet investopedia info__subwrapper info__subwrapper info__subwrapper info__subwrapper";
	&__subwrapper {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 0px 20px;
		grid-template-areas: ". . . .";
		grid-area: info__subwrapper;
	}
}
.info-item {
	&__title {
		letter-spacing: em(0.55px);
		margin-bottom: 10px;
		font-size: 26px;
		&::after {
			margin-left: 8.5px;
		}
	}
	&__text {
		font-size: 14px;
	}
	&.nerdwallet {
		grid-area: nerdwallet;
	}
	&.investopedia {
		grid-area: investopedia;
	}
}
//* ---first-screen

//* investing section ===
.investing {
	padding: 67.5px 0px 45px 0px;
	&__container {
		display: flex;
		justify-content: center;
		@include adaptiv-value("gap", 64, 30, 0);
	}
	&__content {
		max-width: 45%;
		display: flex;
		flex-direction: column;
		gap: 2.5em;
	}
	&__title {
		line-height: 0.96em;
		letter-spacing: em(3px, "em", 56px);
	}

	&__text {
	}

	&__btns {
		display: flex;
		flex-wrap: wrap;
		@include adaptiv-value("gap", 32, 5, 0);
	}
	&__img {
		position: relative;
		z-index: 0;
		&:before,
		&:after {
			z-index: 1;
		}
		&:before {
			content: url(@img/notification1.png);
			position: absolute;
			top: 6%;
			left: 50%;
		}
		&:after {
			content: url(@img/notification2.png);
			position: absolute;
			top: 33%;
			left: 38.2%;
		}
	}
}

//* === investing section
:root {
	--wf-fade-stop: 0%;
	--wf-fade-start: 5%;
}
//*
//* Cash section
.cash {
	&__container {
		align-items: center;
		justify-content: flex-end;
	}
	&__img {
		display: flex;
		justify-content: flex-end;
		&::before {
			content: " ";
			position: absolute;
			@include adaptiv-value("width", 354, 177, 0);
			@include adaptiv-value("height", 471, 235, 0);
			left: 5%;
			top: 27%;
			@include adaptiv-value("top", 27, 50, 4);
			transition: all 0.3s ease 0s;
			transform: rotate(-10deg) scale(1);
			background: url(@img/card.png) 0 0 / contain no-repeat;
		}
		&::after {
			display: none;
		}
		&::after {
			display: none;
		}
	}
}
//* Saving section
.saving {
	background-color: $lightColor;
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10%;
		@include adaptiv-value("gap", 10, 5, 4);
	}

	&__content {
		color: $mainColor;
		max-width: 35%;
		@include adaptiv-value("max-width", 35, 100, 4);
		display: flex;
		flex-direction: column;
		gap: 2.5em;
	}

	&__title {
	}

	&__text {
	}

	&__img {
		min-width: 55%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: right;
		}
	}
}
//* testimonail section
.testimonial {
	padding: 0 0px 45px 0px;
	height: fit-content;
	&__wrapper {
		@include adaptiv-value("height", 563, 300, 1);
		background: $accentColor;
		position: relative;
		margin-bottom: 23%;
	}
	&__slider {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0px);
		overflow: visible;
		bottom: -23%;
		@include adaptiv-value("max-width", 1310, 320, 0);
		margin: 0 auto;
		padding: 0px 15px;
	}
	&-pagination {
	}
	&-button {
		&-next {
			display: none;
		}
		&-prev {
			display: none;
		}
	}
	&-scrollbar {
	}
	&__cards {
		transition: all 0.3s ease 0s;
		display: flex;
	}

	&__card {
		display: flex;
		flex-direction: column;
		gap: 32px;
		border-radius: 6px;
		padding: 2rem 1.5rem;
		background-color: $mainColor;
		&:not(:last-child) {
			margin-right: 16px;
		}
	}

	&__contnet {
		flex: 1 1 auto;
	}

	&__sub-title {
		text-transform: uppercase;
		line-height: 1.4em;
		letter-spacing: em(0.7px, "em", 15px);
		margin-bottom: 32px;
	}
	&__title {
		font-size: 42px;
		line-height: 1em;
		letter-spacing: em(1px, "em", 42px);
		span {
			font-weight: 700;
		}
	}

	&__author {
		@extend .testimonial__sub-title;
		text-transform: none;
		margin-bottom: 0;
	}
}

//* === touch/pc ===
body._touch {
	.btn__more {
		text-decoration: underline;
	}
}
//* === media query's
@media (min-width: em(992px)) {
	.investing {
		&__content {
			max-width: 33.333%;
		}
		&__img {
			width: 598px;
		}
	}
	.cash__img {
		width: 784px;
	}
	.testimonial_cards {
		justify-content: space-between;
	}
	.testimonial__card {
		flex: 1;
		height: 100% !important;
	}
}
@media (max-width: em(1280px)) {
	.testimonial__title {
		font-size: 32px;
	}
}
@media (max-width: em(890px)) {
	//* --------- Burger Active ------------ *//
	//* Styling a Burger -------
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 44px;
		height: 33px;
		margin-left: auto;
		cursor: pointer;
		&._active {
			&::before,
			&::after,
			span {
				background-color: $mainColor;
			}
		}
		&::before,
		&::after,
		span {
			left: 0;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background: $lightColor;
			border-radius: 6px;
		}
		&::before,
		&::after {
			content: "";
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: 50%;
			transform: scale(1) translate(0px, -50%);
			width: 100%;
		}
		&._active {
			span {
				transform: scale(0) translate(0px, -50%);
			}
			&:before {
				top: 50%;
				transform: rotate(45deg) translate(0px, -50%);
			}
			&:after {
				bottom: 50%;
				transform: rotate(-45deg) translate(0px, 50%);
			}
		}
	}

	//* -----------------
	//* Transform menu in open Burger-menu
	.menu__body {
		flex-direction: column;
		padding: 15px 0 30px 0;
		position: fixed;
		right: -100%;
		top: 0;
		@include adaptiv-value("width", 400, 240, 0);
		height: 100%;
		background-color: rgba($color: $accentColor, $alpha: 0.85);
		z-index: 1;
		transition: all 0.6s ease 0s;
		overflow: auto;
		//* Move menu bottom ---
		&._active {
			right: 0;
		}
		//* --------------------
	}
	//* -----------------------
	.menu__list {
		flex-direction: column;
		align-self: flex-start;
		padding: 0px 20px;
		gap: 0;
		> li {
			//* Aside postion for menu -------
			display: flex;
			flex-wrap: wrap;
			margin: 0px 0px 0px 0px;
			padding: 22px 0px;
			max-width: fit-content;
			a {
				color: $mainColor;
			}
			//* ------------------------------
		}
		> li:last-child {
			margin-bottom: 0;
		}
	}
	.menu-btn__login {
		color: $mainColor;
		border: 2px solid $lightColor;
	}
	//* Burger Menu END --------
}
@media (max-width: em(991px)) {
	.header {
		&__container-xl {
			gap: 5%;
		}
		&__logo {
			flex: 0 1 auto;
		}
	}
	.info {
		justify-items: center;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, auto);
		gap: 25px;
		grid-template-areas:
			"nerdwallet nerdwallet"
			"investopedia investopedia"
			"info__subwrapper info__subwrapper";
		&__subwrapper {
			margin-top: 10px;
			grid-template-columns: repeat(2, auto);
			grid-template-rows: repeat(2, auto);
			width: 100%;
			gap: 25px;
			grid-template-areas:
				". ."
				". .";
		}
	}
	.info-item {
		text-align: center;
	}
	.investing {
		&__img {
			&::before {
				top: 48%;
				left: 18%;
			}
			&::after {
				top: 72%;
				left: -18%;
			}
		}
	}
	.cash {
		&__img {
			z-index: 2;
			justify-content: flex-start;
			img {
				width: 95%;
			}
			&::before {
				z-index: -1;
				left: auto;
				top: 35%;
				right: -30%;
				filter: blur(1px);
				opacity: 0.75;
			}
		}
		&__content {
			max-width: 50%;
			z-index: 3;
			position: relative;
		}
		&__bg {
			position: absolute;
			background: rgba(214, 219, 240, 1);
			width: 100%;
			height: 100%;
			z-index: -1;
			filter: blur(100px);
			left: -50px;
		}
	}
	.testimonial__slider {
		max-width: 50vw;
		overflow: hidden;
	}
}
@media (max-width: em(767px)) {
	//* Hero-section
	.header {
		background-color: rgba($color: $mainColor, $alpha: 0.85);
	}
	.offer {
		align-items: center;
		text-align: center;
		&__text {
			display: inline;
		}
	}
	.hero {
		&__container-xl {
			padding: 0;
		}
		&__preview {
			flex-direction: column;
		}
		&__info {
			padding: 0px 15px;
		}
	}
	.investing {
		&__container {
			flex-direction: column-reverse;
		}
		&__content {
			@include adaptiv-value("max-width", 33.333, 100, 4);
		}
		&__img {
			img {
				margin-left: -2.5%;
				@include adaptiv-value("width", 100, 105, 4);
				@include adaptiv-value("height", 370, 400, 0);
				object-fit: none;
				object-position: top left;
				-webkit-mask-image: linear-gradient(0deg, #0000 var(--wf-fade-stop, 60%), #fff var(--wf-fade-start, 75%));
			}
			&::before,
			&::after {
				right: auto;
			}
			&::before {
				@include adaptiv-value("left", 350, 7, 4);
				@include adaptiv-value("top", -50, 50, 4);
			}
			&::after {
				@include adaptiv-value("left", 230, 7, 4);
				@include adaptiv-value("top", 10, 77, 4);
			}
		}
	}
	.cash {
		&__container {
			flex-direction: column;
		}
		&__img {
			width: 100%;
			display: block;
			img {
				object-position: top right;
			}
			&::before {
				left: 5%;
				top: 15%;
			}
		}
		&__content {
			text-align: right;
			align-items: flex-end;
		}
	}
	.saving__container {
		flex-direction: column;
		gap: 6vh;
	}
}

@media (max-width: em(575px)) {
	.menu__icon._active {
		&::before,
		&::after,
		span {
			background-color: $accentColor;
		}
	}
	.menu__body {
		background-color: rgba($color: $accentColor, $alpha: 0.95);
		&._active {
			//* Header plank -------
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				top: 0;
				left: 0;
				@include adaptiv-value("height", 96, 70, 0);
				background-color: $mainColor;
				z-index: 2;
			}
			//* --------------------
		}
	}
	.menu__list {
		@include adaptiv-value("margin-top", 96, 70, 0);
	}
	.investing__content {
		text-align: center;
		align-items: center;
	}
	.investing__btns {
		justify-content: center;
	}
	.cash__img {
		@include adaptiv-value("width", 100, 100, 4);
		img {
			object-fit: cover;
		}
	}
}
